.section {
  width: 100%;
  /* 	min-height: 40vh; */
  line-height: 160%;
  margin: 0;
  @include clearfix;
  p {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
  }

  .headline {
    margin-top: 3rem;
    font-weight: $font-weight-normal;
    font-size: 4rem;
    line-height: 110%;
  }
}

.container {
  position: relative;
}
